* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: orange;  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
header {
    background-color: lightcoral;
}
main {
    background-color: lightblue;
}
